/* This file has styles*/
h1,p,h2,h3,h4
{
    text-align: center;
}

body
        {
            background-image: url(background.jpg);
        }
img
{
    float:center;
}
#resumetable
{
    width: 1250px;
}
.resume-img-edu
{
    padding-left: 340px;
}
hr
{
    width: 45%; 
    margin-left: 350px; 
    margin-right:350px; 
    background-color:black; 
    height: 1px;
}
.resumeHead
{
    font-weight: bold;
    text-align: left;
    
}
a:visited
{
    color:brown;
}
a :hover
{
  color:rgb(255, 118, 6)
}
#listresume
{
    text-align: left;
}
.resumehead
{
     text-align: left;
    padding-left: 5px;
}
 h3 
 {
     color:rgb(1, 180, 1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


